* {
  font-family: 'Work Sans', sans-serif;
  /* font-weight: 600; */
}

body {
  margin-top: 6rem;

}

h1 {
  margin: 0rem;
  padding: 0rem;
}

h3 {
  margin: 0rem;
  padding: 0rem;
}

/* ——————————————————————— */
/* ——————————————————————— */
/* Search results container STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--search-results-container{
  display: flex;
  flex-wrap: wrap;
}

/* ——————————————————————— */
/* ——————————————————————— */
/* Collection Container STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--collection-container{
  display: flex;
  flex-wrap: wrap;
}

  .div--collection-card-list{
    display: flex;
    flex-wrap: wrap;
  }

  .h1--collection-container-name{
    padding-left: 2rem;
    width: 100vh;
  }

  .div--collection-card-detail{
    margin-top: 0.25rem;
    /* font-weight: 300; */
  }

  .span--author-name{
    /* font-weight: 500; */
  }

/* ——————————————————————— */
/* ——————————————————————— */
/* CollectionCard STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--collection-card{
  display: flex;
  padding: 2rem;
  width: 30vh;
}

  .div-collection-card-list{

  }

  .div--collection-card-details{
    padding-left: 1rem;
    margin-top: 0px;
  }

/* ——————————————————————— */
/* ——————————————————————— */
/* DETAIL CONTAINER STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--detail-container {
  display: flex;
}

  .div--book-column {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 55vh;
  }

    .div--book-left{
      text-align: center;
    }

      .div--collection-dropdown{
        /* font-weight: 800; */
      }

    .div--book-right{

    }
      .h1--book-title{
        margin: 0rem;

      }

      .p--book-author{
        margin-top: 0.25rem;
      }

      .h3--book-details{
        margin: 0rem;
      }

/* ——————————————————————— */
/* ——————————————————————— */
/* Profile STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--profile-container{
  display: flex;
  margin-left: 3rem;
  margin-right: 2rem;
}

  .div--right-column{
    margin-left: 2rem;
  }

/* ——————————————————————— */
/* ——————————————————————— */
/* NAVBAR STYLING */
/* ——————————————————————— */
/* ——————————————————————— */
.div--nav-bar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: #fed92f; */
  background-color: #fed92f;
}
  .div--nav-bar-item {
    /* font-weight: 600; */
    color: #0022ff;
    text-decoration: none;
    font-size: 3rem;
    /* font-size: 3.5rem; */
    /* padding: 0.5rem; */
    /* margin: 1rem; */

    text-transform: uppercase;
    float: left;
    /* padding-left, padding-right: 2rem; */
  }
    .div--nav-bar-item:hover {
      color: white;
    }

  .nav-search {
    line-height: 2rem;
    height: 2.5rem;
    width: 40rem;

  }

    .logo {
      float: left;
      font-weight: 600;
    }

    .nav-left {
      margin-left: 1.5rem;
    }

    .nav-right {
      float: right;
      margin-right: 1.5rem;
    }

    .button-logout  {
      background:none;
      border:none;
      margin:0;
      padding:0;
      margin-right: 1.5rem;
      font-weight: 600;
    }

    .button-logout:hover  {
      background:none;
      border:none;
    }

/* ——————————————————————— */
/* ——————————————————————— */
/* LOGIN AND REGISTRATION STYLING */
/* ——————————————————————— */
/* ——————————————————————— */

.div--login-container{
  margin-left: 3rem;

}

  .guest-credentials{
    text-decoration: underline;
  }

  .guest-credentials:hover{
    text-decoration: underline;
    color: #fed92f;
  }

  /* ——————————————————————— */
  /* ——————————————————————— */
  /* ABOUT STYLING */
  /* ——————————————————————— */
  /* ——————————————————————— */

.div--about-container{
  margin-left: 3rem;

}
